@font-face {
    font-family: 'NTSomic';
    src: local('NTSomic Regular'), local('NTSomic-Regular'), url('../fonts/NTSomic/NTSomic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NTSomic';
    src: local('NTSomic Medium'), local('NTSomic-Medium'), url('../fonts/NTSomic/NTSomic-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NTSomic';
    src: local('NTSomic Bold'), local('NTSomic-Bold'), url('../fonts/NTSomic/NTSomic-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* LTSuperior for subtexts */
@font-face {
    font-family: 'LTSuperior';
    src: local('LTSuperior Regular'), local('LTSuperior-Regular'), url('../fonts/LTSuperior/LTSuperior-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LTSuperior';
    src: local('LTSuperior Medium'), local('LTSuperior-Medium'), url('../fonts/LTSuperior/LTSuperior-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LTSuperior';
    src: local('LTSuperior SemiBold'), local('LTSuperior-Semi-bold'), url('../fonts/LTSuperior/LTSuperior-Semi-bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LTSuperior';
    src: local('LTSuperior Bold'), local('LTSuperior-Bold'), url('../fonts/LTSuperior/LTSuperior-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}